APP_ENV=dev
APP_SECRET=changez-cette-cle-symfony-en-production

DEFAULT_URI=http://localhost:3001

###> doctrine/doctrine-bundle ###
# MySQL — créer la base : CREATE DATABASE sowcoderdev CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
DATABASE_URL="mysql://root:@127.0.0.1:3306/sowcoderdev?serverVersion=8.0&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=
###< lexik/jwt-authentication-bundle ###

JWT_TTL=604800

###> nelmio/cors-bundle ###
# Production : ^https?://(www\.)?votredomaine\.com$
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###

###> symfony/mailer ###
MAILER_DSN=null://null
SMTP_USER=
CONTACT_EMAIL=contact@sowcoder.com
###< symfony/mailer ###

ADMIN_API_KEY=
ADMIN_EMAIL=admin@sowcoder.sn
ADMIN_PASSWORD=ChangezMoi123!
ADMIN_NAME="Administrateur SowCoder"
CORS_ORIGIN=http://localhost:5173
